@charset "UTF-8";

* {
<<<<<<< HEAD
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
}

:root {
  --cor-azulPrimaria: rgb(28, 39, 76);
  --cor-azulSecundaria: rgba(28, 39, 76, 0.808);
  --cor-azulTerciaria: rgb(192, 202, 214);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--cor-azulPrimaria);
=======
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-azulPrimaria: rgb(28, 39, 76);
    --cor-azulSecundaria: rgba(28, 39, 76, 0.808);
    --cor-azulTerciaria: rgb(192, 202, 214);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
>>>>>>> db89f4b3fbe0121b0f388ab69b15f445d7966d1e
}

/*Header------------------------------------------*/
header {
<<<<<<< HEAD
  
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #ffffff91, var(--cor-azulPrimaria));
  padding: 10px 20px;
}

div.logo img {
  height: 60px;
}

div.logo h2 {
  font-style: italic;
  text-decoration: underline;
  font-size: 24px;
}

div.menu input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  background-color: var(--cor-azulSecundaria);
}

div.menu input:hover {
  border: 2px solid;
  color: var(--cor-azulPrimaria);
  background-color: white;
  transition-duration: .5s;
=======
    display: flex;
    justify-content: space-around;

    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.570), var(--cor-azulPrimaria));
    height: 90px;
}

/*Header Logo--------------------------------------*/
div.logo {
    display: flex;
    align-items: center;
}

header > div > img {
    height: 90px;
}

header > div > h2 {
    font-style: italic;
    text-decoration: underline;
    color: var(--cor-azulPrimaria);
}

/*Header Menu-------------------------------------*/
div.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 10px;
}

header > div > input {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    background-color: var(--cor-azulSecundaria);
}

header > div > input:hover {
    border: 2px solid var(--cor-azulPrimaria);
    color: var(--cor-azulPrimaria);
    background-color: white;
    transition-duration: .5s;
>>>>>>> db89f4b3fbe0121b0f388ab69b15f445d7966d1e
}

/*Main------------------------------------------*/
main {
<<<<<<< HEAD
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: var(--cor-azulPrimaria);
}

.mapa-container {
  width: 100%;
}

div.states {
  padding: 50px 30px;
  border-radius: 5px;
  border-left: 1px solid;
  border-bottom: 1px solid;
=======
    display: flex;
    flex: 1 0 470px;
}


.sudeste:hover {


    fill: #7c0000;

}

.sul:hover {


    fill: #003c74;

}


.centro-oeste:hover {

fill: #853c00;

}


.nordeste:hover {

fill: #5d0081;

}



.norte:hover {


    fill: #004606;

}


div.map {
    min-width: 60%;
}

iframe {
    width: 100%;
    height: 100%;
}

div.states {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 30px;

    border-radius: 5px;
    width: 40%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
>>>>>>> db89f4b3fbe0121b0f388ab69b15f445d7966d1e
}

/*Main input-------------------------------------*/
div.inputSearch {
<<<<<<< HEAD
  display: flex;
  border: 1px solid;
  box-shadow: 1px 1px 1px #00000080;
  overflow: hidden;
  border-radius: 5px;
  width: 265px;
  height: 37px;
}

div.inputSearch input {
  height: 35px;
  border: 0;
  outline: 0;
} 

input#search{
  width: 180px;
  margin-left: 3px;
  font-size: medium;
}

input#btnSearch {
  width: 80px;
  float: right;
  cursor: pointer;
  background-color: var(--cor-azulTerciaria);
}

/*Main table--------------------------------*/
#table {
  border: 1px solid;
  height: 350px;
  width: 290px;
  overflow-y: auto;
}

table.forecast {
  width: 100%;
  text-align: center;
  border-collapse: collapse; 
}

table.forecast td {
  border: 1px solid;
  height: 50px;
  padding: 5px;
}

.forecast img {
  width: 20px;
}

#forecast {
  text-transform: capitalize;
}

/*Footer--------------------------------------------*/
footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: linear-gradient(to right, #ffffff91, var(--cor-azulPrimaria));
  padding: 10px;
}

footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  color: white;
}

footer > div p {
  margin: 0;
  padding: 3px;
}

/*Mapa*/
.mapa-texto-interno {
  font-size: 60px;
  fill: #FFF;
}

.norte, .nordeste, .centro-oeste, .sul, .sudeste {
  fill-rule: evenodd;
}

.sul, .bolinha-sul {
  fill: #75d7db;
}

.sul-bg-white {
  fill: #75d7db !important;
}

.sudeste, .bolinha-sudeste {
  fill: #db7575;
}

.sudeste-bg-white {
  fill: #db7575 !important;
}

.nordeste, .bolinha-nordeste {
  fill: #b875db;
}

.nordeste-bg-white {
  fill: #b875db !important;
}

.centro-oeste, .bolinha-centro-oeste {
  fill: #dba075;
}

.centro-oeste-bg-white {
  fill: #dba075 !important;
}

.norte {
  fill: #75db7e;
}

.tracado-nordeste, .tracado-centro-oeste, .tracado-sul, .tracado-sudeste {
  stroke-linecap: round;
  stroke-width: 3.6px;
  stroke-dasharray: 7.2 7.2;
}

.tracado-nordeste {
  stroke: #b875db;
}

.tracado-centro-oeste {
  stroke: #dba075;
}

.tracado-sudeste {
  stroke: #db7575;
}

.tracado-sul {
  stroke: #75d7db;
}

.sudeste:hover {
  fill: #7c0000;
}

.sul:hover {
  fill: #003c74;
}

.centro-oeste:hover {
  fill: #853c00;
}

.nordeste:hover {
  fill: #5d0081;
}

.norte:hover {
  fill: #004606;
}
=======
    display: inline-block;
    border: 1px solid var(--cor-azulPrimaria);
    box-shadow: 1px 1px 1px #00000080;
    overflow: hidden;
    border-radius: 5px;
    width: 265px;
    height: 37px;
}

div.inputSearch input {
    color: var(--cor-azulPrimaria);
    height: 35px;
    border: 0;
    outline: 0;
} 

input#search{
    width: 180px;
    margin-left: 3px;
    font-size: medium;
}

input#btnSearch {
    background-color: var(--cor-azulTerciaria);
    width: 80px;
    float: right;
}

/*Main table--------------------------------*/
table {
    color: var(--cor-azulPrimaria);
    width: 250px;
    text-align: center;
}

td {
    border: 1px  solid var(--cor-azulPrimaria);
    width: 150px;
    height: 50px;
    border-radius: 5px;
}

#forecast {text-transform: capitalize;}

/*Footer--------------------------------------------*/
footer {
    display: flex;
    justify-content: flex-end;

    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.570), var(--cor-azulPrimaria));
    height: 60px;
    padding: 0px 10px;
}

footer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid white;
    border-radius: 10px;
    width: 120px;
    color: white;
}

footer > div p {
    padding: 3px;
}
>>>>>>> db89f4b3fbe0121b0f388ab69b15f445d7966d1e
